
<div class="navbar">
  <div class="navbar-logo">
   <%= image_tag "https://www.brandcrowd.com/gallery/brands/pictures/picture1379504466948.jpg" %>
  </div>
  <div class="navbar-home">
   <%= link_to "Home", root_path, class: "btn btn-navbar" %>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>

</div>

<div class="background-index">
  <h1 class="oferta-bogota">Nuestra Oferta en Bogotá</h1>


<div id="wine-container">
<% @wines.each do |wine| %>

    <div class="card-product-wine">
      <div class = rating-photo>
        <div class="card-product-information">
          <p> Rating Vivino </p>
           <h2> <i class="fas fa-star"></i> <%= wine.rating %></h2>
          <p>Price</p>
          <h2>$<%= wine.price_cop %></h2>
        </div>
        <div class="card-product-photo">
           <%= cl_image_tag wine.photo.key %>
        </div>
      </div>
      <div class="card-product-details">
        <h3><%= wine.winery %></h3>
        <h2> <strong><%= wine.name %></strong></h2>
          <div class = country-flag>
            <div class="avatar-flag">
              <%= cl_image_tag wine.country_photo.key %>
            </div>
            <div class="origin">
              <p> <%= wine.color %> from <%= wine.region %></p>
            </div>
          </div>
          <div class="wine-style">
            <p><%= wine.wine_style %></p>
          </div>
          <div class="wine-availability">
           <p id="availability-wine"><%= wine.availability %></p>
          </div>
      </div>
       <p><%# link_to 'Show', wine %></p>
       <p id ="order-now">Order now  <a href="https://wa.link/h4ajs5"><i class="fab fa-whatsapp"></i></a></p>
    </div>

<% end %>
 </div>



</div>

