
<div class="navbar">
  <div class="navbar-logo">
   <%= image_tag "https://www.brandcrowd.com/gallery/brands/pictures/picture1379504466948.jpg" %>
  </div>
  <div class="navbar-home">
   <%= link_to "Home", root_path, class: "btn btn-navbar" %>
  </div>

</div>

<h1 class="oferta-bogota">Nuestra Oferta en Bogotá</h1>


<div id="wine-container">
<% @wines.each do |wine| %>

    <div class="card-product-wine">
      <div class = rating-photo>
        <div class="card-product-information">
          <p> Rating Vivino </p>
          <h2> <%= wine.rating %></h2>
          <p>Price</p>
          <h2>$<%= wine.price_cop %></h2>
        </div>
        <div class="card-product-photo">
           <%= cl_image_tag wine.photo.key %>
        </div>
      </div>
      <div class="card-product-details">
        <h3><%= wine.winery %></h3>
        <h2> <strong><%= wine.name %></strong></h2>
          <div class = country-flag>
            <div class="avatar-flag">
              <%= cl_image_tag wine.country_photo.key %>
            </div>
            <div class="origin">
              <p> <%= wine.color %> from <%= wine.region %></p>
            </div>
          </div>
          <div class="wine_style">
            <p><%= wine.wine_style %></p>
          </div>
      </div>
       <p><%= link_to 'Show', wine %></p>
    </div>

<% end %>
 </div>

