<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wine.name %>
</p>

<p>
  <strong>Winery:</strong>
  <%= @wine.winery %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @wine.rating %>
</p>

<p>
  <strong>Region:</strong>
  <%= @wine.region %>
</p>

<p>
  <strong>Grapes:</strong>
  <%= @wine.grapes %>
</p>

<p>
  <strong>Color:</strong>
  <%= @wine.color %>
</p>

<p>
  <strong>Wine style:</strong>
  <%= @wine.wine_style %>
</p>

<p>
  <strong>Food pairing:</strong>
  <%= @wine.food_pairing %>
</p>

<p>
  <strong>Year:</strong>
  <%= @wine.year %>
</p>

<p>
  <strong>Story:</strong>
  <%= @wine.story %>
</p>

<p>
  <strong>Backgroud image:</strong>
  <%= @wine.backgroud_image %>
</p>

<p>
  <strong>Price:</strong>
  <%= @wine.price %>
</p>

<p>
  <strong>Price COP:</strong>
  <%= @wine.price_cop %>
</p>

<p>
  <strong>Price COP:</strong>
  <%= @wine.availability %>
</p>

<%= cl_image_tag @wine.photo.key %>
<%= cl_image_tag @wine.country_photo.key %>


<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
