<!DOCTYPE html>
<html>
  <head>
    <title>Vinity - For wine enthusiasts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defered: true %>
  </head>

  <body>
    <%= yield %>
     <div class="footer">
      <div class="footer-links">

        <a href="https://www.instagram.com/vinitywines/?hl=en"><i class="fab fa-instagram"></i></a>
        <a href="https://wa.link/h4ajs5"><i class="fab fa-whatsapp"></i></a>
        <a href="https://wa.link/26kgs7"><i class="fab fa-whatsapp"></i></a>
        <a href="https://wa.link/a7yccj"><i class="fab fa-whatsapp"></i></a>

      </div>
      <div class="footer-copyright">
        Contactanos por Whatsapp para hacer tus pedidos.
      </div>
    </div>
  </body>
</html>
